logs
src/project
project/project
project/target
node_modules
/node_modules

src/target
tmp
.history
dist
src/.idea
src/*.iml
src/out
src/.idea_modules
src/.classpath
src/.project
/RUNNING_PID
src/.settings


src/node_modules/
