@(webJarAssets: WebJarAssets)

<!DOCTYPE html>
<html lang="en">
    <head>

        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/styles.css")">
        <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("jquery.min.js"))'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/core.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/x64-core.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/sha512.min.js"></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("js/bootstrap.min.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular.min.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-route.min.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-ui-router.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-resource.js"))'></script>
        <script type="text/javascript" src='@routes.WebJarAssets.at(webJarAssets.locate("angular-cookies.js"))'></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/libs/ui-bootstrap-tpls-2.4.0.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/libs/lodash.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/libs/dirPagination.js")"></script>

            <!-- Custom Javascripts -->
        <script type="text/javascript" src="@routes.Assets.versioned("modules/utils/events.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/services/localstorage.service.js")"></script>

        <script type="text/javascript" src="@routes.Assets.versioned("modules/services/repositories.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/services/security.service.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/services/transcript.service.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/services/user.service.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/services/fields.service.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/services/variant_column.service.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/controller.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/pages/login/controller.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/pages/transcript-list/controller.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/pages/transcript-table/table/controller.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/pages/transcript-table/filter/controller.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/pages/admin/controller.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/pages/admin/privileges/controller.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("modules/pages/admin/upload/controller.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("javascripts/app.js")"></script>

    </head>
    <body ng-app="app" ng-controller="MainPageController">
        <nav class="navbar navbar-default" ng-controller="HeaderController">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/index">Home</a>
                </div>
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/list')}"><a href="/list">Sample list</a></li>
                    <li ng-class="{ active: isActive('/admin')}"><a href="/admin">Admin</a></li>
                </ul>
                <div style="float: right" ng-hide="isActive('/login')">
                    <button><a href="/logOut" target="_self">logout</a></button>
                </div>
            </div>
        </nav>

        <div ui-view></div>
    </body>
</html>
